<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Totally not a scam website</title>
</head>
<body>
    <form action="http://localhost:3000/" method="POST">
        <input type="hidden" name="color" value="SCAMMED"/>
        <button type="submit">Click for free RAM download</button>
    </form>
</body>
</html>